@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: white;
  pointer-events: none;
  height: 0;
  opacity: 0.6;
}

body {
  background-color: #242424;
  font-family: 'Spectral', serif;
}
